@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f5f8ff;
    --foreground: #424649;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: #fefefe;
    --primary-foreground: 0 0% 98%;
    --secondary: #a6b3ca;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: #0079fe;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: #141c2f;
    --foreground: #ffffff;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: #1f2a48;
    --primary-foreground: 0 0% 9%;
    --secondary: #8e94a4;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    /* --accent: 0 0% 14.9%; */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-grid-areas {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "section-logo section-title"
    "section-logo section-date"
    "section-description section-description"
    "section-data section-data"
    "section-contact section-contact";
  gap: 2rem;
}

.section-logo {
  grid-area: section-logo;
  height: 100%;
  place-self: center;
}

.section-title {
  grid-area: section-title;
}

.section-date {
  grid-area: section-date;
}

.section-description {
  grid-area: section-description;
}

.section-data {
  grid-area: section-data;
}

.section-contact {
  grid-area: section-contact;
  display: grid;
  gap: 2rem;
  grid-template-columns: auto;
}

@media (min-width: 512px) {
  .section-contact {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1024px) {
  .custom-grid-areas {
    grid-template-columns: 15% auto fit-content;
    grid-template-areas:
      "section-logo section-title section-date"
      "section-logo section-description section-description"
      "section-logo section-data section-data"
      "section-logo section-contact section-contact";
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}
